@import 'base';
.container {
    background-image: url("/car2go.png");
    background-size: cover;
    background-color: rgba( 0, 0, 0, 0.80);
    background-position: center;
    background-blend-mode: darken;  
}
.center{
    @extend .flex-column-center;
}
.children{
    margin-top: 150px;
    margin-bottom: -300px;
}